.contact__header{
    
    background-image: url(../../assets/contact-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   padding: 2em  0;
    min-height: 16rem;
}

main{
    background-color: var(--clr--white-shade);
    padding-top: 2em;
}

.contact__info {
    // border: 2px solid tomato;
    padding: 2em 1em;
    background-color:white;
    
}
.fa-brands {
    color: var(--clr-dusk-blue);
    font-size: 1.3em;
}


.fa-brands +.fa-brands {
    margin-left: 1em;
    margin-bottom: 1em;
    
}

address {
    font-family: var(--ff-400);
    font-style: normal;
    line-height: 1.5;
    .email__address {
            font-weight: bold;
            line-height: 3;
        }
}