.boxFlex{
    padding-top: 2em;
    // margin: 5em 0 0 0;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}
// box1 contains the image with waves and setting sun
.box1 {
    // display: flex;
    // position: relative;
    background-color: var(--clr-dusk-blue);
    // bottom: 1em;
}
.box1__img{
    img{
        margin: 0 auto;
    }
}
.box2{
    padding: 1em 0;
}

.sectionFlex{
    // border: 1px solid tomato;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    background-color: white;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
}
.sectionFlex_text{
    padding-bottom: 1em;
}

.box2Flex,
.sectionFlex_text{
    h2 {
            font-size: 32px;
            text-transform: uppercase;
    
        }
}

.sectionFlexImg{
    background-color:var(--clr-light-blue);
    img {
            margin: 0 auto;
        }
}