// @use 'customProperties' as cp;

header{
    position: relative;
    background-color: var(--clr-light-blue);
    padding: 2em 0;
}

.mainNav{
    background-color:var(--clr-light-blue);
    // border: 2px solid tomato;
    text-align:left;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: none;
    li{
        margin-bottom: 1em;
        // margin-left: 1em;
    }
    a{
        font-family:var(--ff-700);
        font-size:1.25rem;
        text-transform: uppercase;
        color: var(--clr-black);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        &:hover, &:focus{
            color: white;
            transition: 15ms ease-in-out;
        }
    }
}
.navToggle:checked ~ nav>.mainNav {
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    transform: scale(1, 1);
    display: block;
    // transform: scale(1,1);
}

.navToggle:checked~nav>.mainNav a {
    opacity: 1;
    // transition: opacity 250ms ease-in-out 250ms;
}
.navToggle{
    display:none;
}

.navToggle-label{
    // margin-left: 1em;
    height:auto;
    display: flex;
    align-items: center;

}
.navToggle-label span,
.navToggle-label span::before,
.navToggle-label span::after{
    display: block;
    background:black;
    height: 4px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    top: 10px;
    margin-bottom: 3em;
}
.navToggle-label span::before,
.navToggle-label span::after{
    content: '';
    position: absolute;
}
.navToggle-label span::before{
    bottom: -15px;
}
.navToggle-label span::after {
    top: 20px;
}



.nav__hero__img{
    display: flex;
    justify-content: center;
    // background-color:white;
}





// text with circular image
.main__heading--title {
    font-family: var(--ff-700);
    // border: 2px solid green;
    // font-size:calc(2 * var(--fs-400));
    font-size: var(--fs-xl);
    margin: 0 auto;
    text-align: center;

}
.nav__content__text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2.5em 0;
    margin: 0 auto;
}
.main__heading {
    // border:2px solid tomato;
    position: relative;

}
.nav__content__textImage {
    // border: 2px solid black;
    // width:clamp(94.8px, 30%, 182px);
    width: 26vw;
    position: absolute;
    top: -1em;
    right: -1em; //20px

    img {
        max-width: 100%;
        display: block;
    }


}


