.iconSection {
    background-color: var(--clr--white-shade);
    padding: 2em 0;

    h3 {
        font-size: 32px;
        text-transform: uppercase;
    }
}


.icon-before::before {
    font: var(--fa-font-solid);
    font-size: .75em; //.85em
    text-rendering: auto;
    display:inline-flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    // border-radius: 50%;
    // width: 45px;
    // height: 45px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    -webkit-font-smoothing: antialiased;
    background-color: #b9dde7;
    position:relative;
    margin-right:.5em;
}

.image-solid::before{
    content: "\f03e";
}
.user::before{
    content: "\f007";
}
.display::before{
    content: "\e163";
}
.phone-flip::before{
    content: "\f879";
}

