// section with three images at the bottom of the main home page
.galleryContainer__section{
    background-color: white;
}
.galleryContainer{
    padding: 2em 1em;
    border: 2px solid tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageGallery {
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


