//section with an image of a person smiling and Harper's Journey Text

.sectionFive{
    background-color:var(--clr--white-shade);
    padding: 3em 0;
}

.oneImgContainer{
    background-color: var(--clr-dusk-blue);
    img{
        margin: 0 auto;
    }
    
}

.journeyTxtContainer{
    padding-top: 1em;
    h2{
        text-transform: uppercase;
    }
}