// this is the section with Who's Harper Text and Find out more button
.section__one{
    // border:2px solid tomato;
    background-color: var(--clr--white-shade);
    h2{
        text-transform: uppercase;
        font-size:41px;
        
    }
}