// blog header styles @1200px
@media (min-width:1200px) {

    .blog__header, .contact__header  {
        background-size: cover;
        background-position-y: 1em;
        position: relative;
        padding:0;
        max-width: 1280px;
        margin: 0 auto;
    }
    .blog__nav{
        // border:2px solid tomato;
        width: 100%;
        position:sticky;
        top: 0;
        padding:.3em 0;
        
        background-color: var(--clr-light-blue);
    }
    .blog__heading {
        position: absolute;
        top: 87%;
        left: 5%;
    }
    .blog__heading--main{
        font-size: 3em;
        display: inline-block;
    }
// **************************************************//
    // styling the body of the blog page at 1200px
    
    .blog__main>.wrapper{
        display: flex;
    }
    .aside {
        width: 30%;
        height: 100%;
    }
    .blog__section {
        width: 70%;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 3em;
    }
    .blog__secondary__content {
        flex-direction: row;
        padding: 1.5em 1.5em;
    }
    .blog__secondary__image {
        width:50%;
        
    }
    .blog__secondary__text{
        p{
            margin: 0;
            margin-left: .5em;
        }
    }
    .blog__secondary--noBorder{
        border: none;
    }
// **************************************************//
// styling the form of the blog page at 1200px
    .form__top {
        display: flex;
        gap: 15px;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
    .form__user__info{
        flex: 1;
        
        input{
            text-align: left;
            margin: 0;
            padding: 1em 0 1em 2em;
        }
    }
    .form__comment{
        textarea{
            text-align: left;
            padding: 2em 0 1em 2em;
        }
    }
// **************************************************//
// styling the contact me form
    .contact__main {
        padding: 4em 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1.3em;
    }
    .contact__info{
        height:100%;
    }
    .contact__section__form{
        width: 60%;
        margin-top: 0;
    }
    .form__top {
        margin-top:0;
    }
    .contact__header {
    min-height: 19rem;
    }


}

