@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.wrapper {
  width: min(1280px, 90%);
  margin: 0 auto;
}

.wrapper2 {
  width: min(1280px, 90%);
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* text-transform: uppercase; */
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--clr-black);
}

:root {
  --clr-black:hsl(0, 0%, 9%);
  --clr-accent:hsl(0, 81%, 75%);
  --clr-greyblue:hsl(191, 42%, 58%);
  --clr-dusk-blue:hsl(191, 59%, 33%);
  --clr-light-blue:hsl(193, 49%, 82%);
  --clr--white-shade:hsl(0, 0%, 96%);
  --ff-700:"Oswald", sans-serif;
  --ff-400:"Cabin", sans-serif;
  --fs-xl: clamp(2rem, 15vw + 1rem, 6.25rem);
}

body {
  font-family: var(--ff-700);
}

p, input, textarea {
  font-family: var(--ff-400);
  font-size: 20px;
  line-height: 32px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  border: none;
  font-family: var(--ff-700);
  background-color: var(--clr-accent);
  text-transform: uppercase;
  font-size: 20px;
  padding: 0.5em 1.5em;
}

header {
  position: relative;
  background-color: var(--clr-light-blue);
  padding: 2em 0;
}

.mainNav {
  background-color: var(--clr-light-blue);
  text-align: left;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  display: none;
}
.mainNav li {
  margin-bottom: 1em;
}
.mainNav a {
  font-family: var(--ff-700);
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-black);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.mainNav a:hover, .mainNav a:focus {
  color: white;
  transition: 15ms ease-in-out;
}

.navToggle:checked ~ nav > .mainNav {
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  transform: scale(1, 1);
  display: block;
}

.navToggle:checked ~ nav > .mainNav a {
  opacity: 1;
}

.navToggle {
  display: none;
}

.navToggle-label {
  height: auto;
  display: flex;
  align-items: center;
}

.navToggle-label span,
.navToggle-label span::before,
.navToggle-label span::after {
  display: block;
  background: black;
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  top: 10px;
  margin-bottom: 3em;
}

.navToggle-label span::before,
.navToggle-label span::after {
  content: "";
  position: absolute;
}

.navToggle-label span::before {
  bottom: -15px;
}

.navToggle-label span::after {
  top: 20px;
}

.nav__hero__img {
  display: flex;
  justify-content: center;
}

.main__heading--title {
  font-family: var(--ff-700);
  font-size: var(--fs-xl);
  margin: 0 auto;
  text-align: center;
}

.nav__content__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2.5em 0;
  margin: 0 auto;
}

.main__heading {
  position: relative;
}

.nav__content__textImage {
  width: 26vw;
  position: absolute;
  top: -1em;
  right: -1em;
}
.nav__content__textImage img {
  max-width: 100%;
  display: block;
}

.section__one {
  background-color: var(--clr--white-shade);
}
.section__one h2 {
  text-transform: uppercase;
  font-size: 41px;
}

.iconSection {
  background-color: var(--clr--white-shade);
  padding: 2em 0;
}
.iconSection h3 {
  font-size: 32px;
  text-transform: uppercase;
}

.icon-before::before {
  font: var(--fa-font-solid);
  font-size: 0.75em;
  text-rendering: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  -webkit-font-smoothing: antialiased;
  background-color: #b9dde7;
  position: relative;
  margin-right: 0.5em;
}

.image-solid::before {
  content: "\f03e";
}

.user::before {
  content: "\f007";
}

.display::before {
  content: "\e163";
}

.phone-flip::before {
  content: "\f879";
}

.boxFlex {
  padding-top: 2em;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.box1 {
  background-color: var(--clr-dusk-blue);
}

.box1__img img {
  margin: 0 auto;
}

.box2 {
  padding: 1em 0;
}

.sectionFlex {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: white;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.sectionFlex_text {
  padding-bottom: 1em;
}

.box2Flex h2,
.sectionFlex_text h2 {
  font-size: 32px;
  text-transform: uppercase;
}

.sectionFlexImg {
  background-color: var(--clr-light-blue);
}
.sectionFlexImg img {
  margin: 0 auto;
}

.sectionFive {
  background-color: var(--clr--white-shade);
  padding: 3em 0;
}

.oneImgContainer {
  background-color: var(--clr-dusk-blue);
}
.oneImgContainer img {
  margin: 0 auto;
}

.journeyTxtContainer {
  padding-top: 1em;
}
.journeyTxtContainer h2 {
  text-transform: uppercase;
}

.galleryContainer__section {
  background-color: white;
}

.galleryContainer {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageGallery {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.gallery__Item {
  transition: transform 10000ms ease-in;
}

.sliderButton {
  position: absolute;
  top: 50%;
  height: 200px;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.sliderButtonLeft {
  left: -30px;
}

.sliderButtonRight {
  right: -30px;
}

.sliderButton img {
  width: 20px;
  height: 20px;
}

footer {
  background-color: var(--clr-black);
}

footer p {
  margin: 0;
  padding: 1em 0;
  text-align: center;
  color: white;
}

.blog__header {
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 0;
  min-height: 16rem;
}

.blog__nav {
  background-color: transparent;
}

.blog__heading--main {
  text-transform: uppercase;
}

.blog__main {
  background-color: var(--clr--white-shade);
  padding-top: 1em;
}

.blog__primary,
.blog__secondary,
.blog__teritiary,
.aside__top__content,
.aside__bottom__content {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.read-more-btn {
  color: rgb(53, 49, 49);
  padding: 15px 40px;
  background-color: var(--clr-greyblue);
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.moreText {
  display: none;
}

.text.show-more .moreText {
  display: inline;
}

.text.show-more .dots {
  display: none;
}

.hide {
  display: none;
}

.aside__top__content,
.aside__content__primaryText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside__top__content {
  padding: 1em 1em;
  background-color: white;
  margin-bottom: 1em;
}
.aside__top__content p {
  margin-bottom: 0;
  text-align: center;
}

.aside__heading {
  text-transform: uppercase;
  margin-top: 1em;
}

.aside__bottom__content {
  padding: 1em 1em;
  background-color: white;
  text-align: center;
  margin-bottom: 1em;
}

.aside__bottom__para {
  margin: 1em auto 0 auto;
  display: list-item;
  list-style: disc;
  list-style-position: inside;
}

.blog__primary {
  padding: 1em 1em;
  background-color: white;
  border-bottom: 4px solid var(--clr-dusk-blue);
  margin-bottom: 1em;
}

.blog__primary h3 {
  text-transform: uppercase;
  background-color: white;
}

.blog__secondary__content {
  padding: 1em 1em;
  margin-top: 1em;
  border-bottom: 4px solid var(--clr-dusk-blue);
  display: flex;
  flex-direction: column;
  background-color: white;
}

.section__form {
  margin-top: 1em;
  margin-bottom: 2em;
}

.form__user__info input {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  border: 2px solid white;
  padding: 0.65em 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.form__user__info input::placeholder {
  color: black;
  opacity: 1;
}
.form__user__info input:focus {
  outline: 0;
}

.form__comment textarea {
  text-align: center;
  width: 100%;
  border: none;
  padding: 0.65em 0 0 0;
  resize: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
.form__comment textarea::placeholder {
  color: black;
  opacity: 1;
}
.form__comment textarea:focus {
  outline: 0;
}

.form__button .btn {
  width: 100%;
}

.form__user__info.success input {
  border-color: #09c372;
}

.form__user__info.error input {
  border-color: #ff3860;
}

.form__user__info .error {
  margin-top: 5px;
  color: #ff3860;
  font-size: 20px;
  height: 22px;
}

.contact__header {
  background-image: url(../../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 0;
  min-height: 16rem;
}

main {
  background-color: var(--clr--white-shade);
  padding-top: 2em;
}

.contact__info {
  padding: 2em 1em;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.fa-brands {
  color: var(--clr-dusk-blue);
  font-size: 1.3em;
}

.fa-brands + .fa-brands {
  margin-left: 1em;
  margin-bottom: 1em;
}

address {
  font-family: var(--ff-400);
  font-style: normal;
  line-height: 1.5;
}
address .email__address {
  font-weight: bold;
  line-height: 3;
}

@media (min-width: 321px) {
  .section__one h2 {
    font-size: 42px;
  }
}
@media (min-width: 600px) {
  .nav__content__text {
    padding-top: 5em;
  }
}
@media (min-width: 400px) {
  .nav__hero__img {
    margin-bottom: 3em;
  }
  .main__heading {
    position: relative;
    position: absolute;
  }
  .nav__content__textImage {
    width: clamp(94.8px, 21vw, 143px);
    position: absolute;
    top: -1.8em;
    right: -2em;
  }
  .nav__content__textImage img {
    max-width: 100%;
    display: block;
  }
}
@media (min-width: 700px) {
  .main__heading {
    position: relative;
    position: absolute;
  }
  .nav__content__textImage {
    width: clamp(94.8px, 21vw, 143px);
    position: absolute;
    top: -1.8em;
    right: -2em;
  }
  .nav__content__textImage img {
    max-width: 100%;
    display: block;
  }
}
@media (min-width: 900px) {
  .nav__content__text {
    padding-top: 5em;
  }
  .section__one {
    padding: 4em 0;
  }
  .primary_content_container {
    padding: 1em 0;
  }
  .box2 {
    padding: 2em 0;
  }
  .sectionFlex_text {
    padding-bottom: 2em;
  }
}
@media (min-width: 1200px) {
  .navToggle, .navToggle-label {
    display: none;
  }
  .navToggle:not(:checked) ~ nav > .mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
  }
  .navToggle:not(:checked) ~ nav > .mainNav a {
    opacity: 1;
    padding: 0 1em;
  }
  .navToggle:not(:checked) ~ nav > .mainNav li:nth-child(3) a {
    font-size: 2.5rem;
  }
  .navToggle:not(:checked) ~ nav > .mainNav li {
    margin-bottom: 0;
  }
  .nav__content {
    display: flex;
  }
  .nav__content__text {
    width: 75%;
    margin: 0;
  }
  .nav__hero__img {
    margin-bottom: 0;
  }
  .nav__hero__img {
    background-color: white;
    border-top: #b9dde7;
    display: flex;
    position: relative;
    top: 4em;
    z-index: 9;
  }
  .nav__hero__img img {
    position: relative;
    top: -1em;
    right: 0.8em;
    z-index: 10;
  }
  .imageGallery {
    flex-direction: row;
  }
  .section__one {
    display: flex;
    position: relative;
    padding: 2em 0;
    position: relative;
  }
  .section__text {
    display: flex;
    width: 54%;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em 0 2em 0;
    margin-left: 50%;
  }
  .primary_content_list {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5em 0;
  }
  .primary_content_list li {
    width: 50%;
  }
  .boxFlex {
    flex-direction: row;
    padding-top: 0;
  }
  .wrapper2 {
    width: 100%;
    margin: 0 auto;
  }
  .box {
    width: 50%;
    position: relative;
  }
  .box1 {
    display: flex;
    justify-content: end;
    position: relative;
    top: -1.5em;
  }
  .box1 img {
    max-width: calc(100% - 1.7em);
    position: relative;
    top: -1em;
  }
  .box2 {
    max-width: 600px;
    padding: 0 4em;
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  .box2Flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: -1.5em;
  }
  .sectionFlex {
    flex-direction: row;
    padding: 0;
    position: relative;
    padding-top: 1em;
  }
  .sectionFlex_content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .sectionFlex_text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 1em 3em;
  }
  .sectionFlex_text .btn {
    align-self: flex-end;
  }
  .sectionFlexImg {
    display: flex;
    justify-content: start;
    position: relative;
    top: 2em;
    left: 1em;
    z-index: 10;
  }
  .sectionFlexImg img {
    position: relative;
    top: -1em;
    right: 1em;
  }
  .sectionFive {
    position: relative;
    display: flex;
  }
  .sectionFive h2 {
    font-size: 42px;
  }
  .oneImgContainer {
    width: 30%;
    display: flex;
    justify-content: end;
    position: relative;
    top: 0.8em;
    left: 0.7em;
  }
  .oneImgContainer img {
    position: relative;
    top: -0.8em;
    right: 0.7em;
  }
  .journeyTxtContainer {
    width: 100%;
    padding: 0 2.8em 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .galleryContainer {
    padding: 4em 0;
  }
}
@media (min-width: 1280px) {
  .section_img {
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .isHidden {
    display: none;
  }
}
@media (min-width: 1200px) {
  .blog__header, .contact__header {
    background-size: cover;
    background-position-y: 1em;
    position: relative;
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;
  }
  .blog__nav {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0.3em 0;
    background-color: var(--clr-light-blue);
  }
  .blog__heading {
    position: absolute;
    top: 87%;
    left: 5%;
  }
  .blog__heading--main {
    font-size: 3em;
    display: inline-block;
  }
  .blog__main > .wrapper {
    display: flex;
  }
  .aside {
    width: 30%;
    height: 100%;
  }
  .blog__section {
    width: 70%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
  }
  .blog__secondary__content {
    flex-direction: row;
    padding: 1.5em 1.5em;
  }
  .blog__secondary__image {
    width: 50%;
  }
  .blog__secondary__text p {
    margin: 0;
    margin-left: 0.5em;
  }
  .blog__secondary--noBorder {
    border: none;
  }
  .form__top {
    display: flex;
    gap: 15px;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  .form__user__info {
    flex: 1;
  }
  .form__user__info input {
    text-align: left;
    margin: 0;
    padding: 1em 0 1em 2em;
  }
  .form__comment textarea {
    text-align: left;
    padding: 2em 0 1em 2em;
  }
  .contact__main {
    padding: 4em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.3em;
  }
  .contact__info {
    height: 100%;
  }
  .contact__section__form {
    width: 60%;
    margin-top: 0;
  }
  .form__top {
    margin-top: 0;
  }
  .contact__header {
    min-height: 19rem;
  }
}
@media (min-width: 1344px) {
  .blog__heading {
    position: absolute;
    top: 87%;
    left: 0;
  }
}
