html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Cabin", sans-serif;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 71.1111rem;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* text-transform: uppercase; */
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

main {
  background-color: #f6f6f6;
}

header {
  background: #b9dde7;
  position: relative;
}

.mainNavigation {
  max-width: 1280px;
}

.mainNav {
  display: flex;
  justify-content: center;
}
.mainNav li {
  margin-top: 1em;
}
.mainNav li a {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 0 1.5em;
}
.mainNav li a:hover, .mainNav li a:focus {
  color: white;
}
.mainNav li:nth-child(3) a {
  font-size: 40px;
}

.nav__content {
  display: flex;
}

.nav__hero__img {
  background-color: white;
  border-top: #b9dde7;
  display: flex;
  position: relative;
  top: 4em;
  z-index: 9;
}
.nav__hero__img img {
  position: relative;
  top: -1em;
  right: 0.8em;
  z-index: 10;
}

.nav__content__text {
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.nav__content__text h1 {
  font-size: 6em;
  position: relative;
}
.nav__content__text .nav__content_textImage {
  width: 8.3333em;
  height: 6.72222em;
  position: relative;
  top: -8%;
  right: 14%;
}

.blog__header {
  background-image: url(../../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 16rem;
}

.blogNav {
  background-color: #b9dde7;
}

.contact__header {
  background-image: url(../../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 16rem;
}

button {
  border: none;
  display: inline-block;
  background-color: #f38d8d;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.4em 1.6em;
}

.icon-before::before {
  font: var(--fa-font-solid);
  font-size: 0.85em;
  text-rendering: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  -webkit-font-smoothing: antialiased;
  background-color: #b9dde7;
  position: absolute;
  left: -70px;
}

.image-solid::before {
  content: "\f03e";
}

.user::before {
  content: "\f007";
}

.display::before {
  content: "\e163";
}

.phone-flip::before {
  content: "\f879";
}

.section__one {
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  padding-top: 1.5em;
  justify-content: flex-end;
}

.section__text {
  display: flex;
  width: 54%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 3em 0 3.5em 0;
}
.section__text h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.boxFlex {
  display: flex;
  margin: 5em 0 0 0;
  position: relative;
  background-color: white;
}

.box {
  width: 100%;
  position: relative;
}

.box1 {
  display: flex;
  justify-content: end;
  background-color: skyblue;
  position: relative;
  bottom: 1em;
}
.box1 img {
  max-width: calc(576px - 1em);
  position: relative;
  top: -1em;
  right: 1em;
}

.box2 {
  display: flex;
  align-items: flex-end;
  background-color: white;
  padding-bottom: 1em;
}

.box2Flex {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-left: 4em;
  max-width: calc(576px - 4em);
}
.box2Flex h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.sectionFlex {
  display: flex;
  position: relative;
  background-color: white;
  padding-top: 1.5em;
  margin: 0 auto;
}

.box {
  width: 100%;
  position: relative;
}

.sectionFlexImg {
  display: flex;
  justify-content: flex-start;
  background-color: #b9dde7;
  position: relative;
  bottom: -2em;
}
.sectionFlexImg img {
  max-width: calc(576px - 1em);
  position: relative;
  left: -1em;
  bottom: 1em;
}

.sectionFlex_content {
  display: flex;
  justify-content: end;
  background-color: white;
  padding-top: 1em;
}

.sectionFlex_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 576px;
  padding-right: 4em;
}
.sectionFlex_text h2 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}
.sectionFlex_text button {
  margin-top: 1em;
  align-self: flex-end;
}

.section_img {
  margin: 0 auto;
}

.primary_content {
  padding-bottom: 2em;
}

.primary_content_list {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5em 0;
}
.primary_content_list li {
  width: 50%;
}
.primary_content_list li h3 {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.primary_content_list .primary_content_container {
  padding-left: 70px;
}

.sectionFive {
  margin-top: 9em;
  margin-bottom: 6em;
  display: flex;
}

.oneImgContainer {
  width: 30%;
}

.journeyTxtContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.journeyTxtContainer {
  position: relative;
  padding-left: 4em;
  padding-right: 5em;
  width: 100%;
}
.journeyTxtContainer h2 {
  position: relative;
  top: -0.7em;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

.oneImgContainer {
  background-color: #227284;
  position: relative;
  display: flex;
}
.oneImgContainer img {
  position: relative;
  top: -0.7em;
  right: 0.7em;
}

.galleryContainer__section {
  background-color: white;
  padding: 3rem 0;
}

.imageGallery {
  display: flex;
  gap: 2em;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
footer p {
  margin: 0.8em auto;
}

.blog__main {
  padding-top: 4em;
  display: flex;
  gap: 0.5rem;
}

.aside {
  width: 30%;
  height: 100%;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.blog__heading {
  position: absolute;
  top: 87%;
  left: 5%;
}

.blog__heading--main {
  text-transform: uppercase;
  font-size: 3em;
  margin: 0;
}

.blog__section {
  width: 70%;
}

.aside__main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aside__top__content,
.aside__bottom__content {
  background-color: white;
  padding: 1.5em 1em;
}

.aside__bottom__content h3 {
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.aside__bottom__content li {
  font-family: "Cabin", sans-serif;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 0.3em;
}

.blog__section {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
}

.blog__primary,
.blog__secondary,
.blog__teritiary {
  background-color: white;
  padding: 1.5em 1em;
}

.blog__main__heading {
  text-transform: uppercase;
  margin-top: 0;
}

.blog__primary,
.blog__teritiary {
  border-bottom: 6px solid #227284;
}

.blog__secondary__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.blog__secondary__content p {
  margin: 0 auto 0.4em auto;
}

.blog__secondary__image {
  width: 50%;
}

.form__top {
  display: flex;
  gap: 15px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.form__name {
  background-color: white;
  flex: 1;
}
.form__name input {
  border-style: none;
  padding: 1.5em 1em;
  font-family: "Cabin", sans-serif;
  color: black;
}

.form__comment textarea {
  padding: 1.5em 1em;
  font-family: "Cabin", sans-serif;
  resize: none;
  border: none;
  width: 100%;
}

.form__comment {
  margin-bottom: 0.8em;
}

.form__button {
  display: flex;
}
.form__button button {
  width: 100%;
}

.contact__main {
  padding: 4em 0;
  display: flex;
  gap: 1.3em;
}

.contact__form {
  width: 70%;
}

.contact__info {
  padding: 1.5em 1em;
  width: 30%;
  background-color: white;
  height: 100%;
}

.form__top {
  margin-top: 0;
}

.fa-brands {
  color: #227284;
  font-size: 1.3em;
}

.fa-brands + .fa-brands {
  margin-left: 1em;
  margin-bottom: 1em;
}

address {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  line-height: 1.5;
}
address .email__address {
  font-weight: bold;
  line-height: 3;
}
