@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.wrapper {
  width: min(1280px, 90%);
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* text-transform: uppercase; */
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--clr-black);
}

:root {
  --clr-black:hsl(0, 0%, 9%);
  --clr-accent:hsl(0, 81%, 75%);
  --clr-greyblue:hsl(191, 42%, 58%);
  --clr-dusk-blue:hsl(191, 59%, 33%);
  --clr-light-blue:hsl(193, 49%, 82%);
  --clr--white-shade:hsl(0, 0%, 96%);
  --ff-700:"Oswald", sans-serif;
  --ff-400:"Cabin", sans-serif;
}

body {
  font-family: var(--ff-700);
}

p {
  font-family: var(--ff-400);
  font-size: 20px;
  line-height: 32px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  border: none;
  font-family: var(--ff-700);
  background-color: var(--clr-accent);
  text-transform: uppercase;
  font-size: 20px;
  padding: 0.5em 1.5em;
}

header {
  position: relative;
  background-color: var(--clr-light-blue);
}

.mainNav {
  background-color: var(--clr-light-blue);
  text-align: left;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  display: none;
}
.mainNav li {
  margin-bottom: 1em;
}
.mainNav a {
  font-family: var(--ff-700);
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-black);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.mainNav a:hover, .mainNav a:focus {
  color: white;
}

.navToggle:checked ~ nav > .mainNav {
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  transform: scale(1, 1);
  display: block;
}

.navToggle {
  display: none;
}

.navToggle-label {
  height: auto;
  display: flex;
  align-items: center;
}

.navToggle-label span,
.navToggle-label span::before,
.navToggle-label span::after {
  display: block;
  background: black;
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  top: 10px;
  margin-bottom: 3em;
}

.navToggle-label span::before,
.navToggle-label span::after {
  content: "";
  position: absolute;
}

.navToggle-label span::before {
  bottom: -15px;
}

.navToggle-label span::after {
  top: 20px;
}

.navToggle:checked ~ nav > .mainNav a {
  opacity: 1;
}

.nav__hero__img {
  background-color: white;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.nav__content__text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3em 0;
  margin: 0 auto;
}
.nav__content__text .nav__content__textImage {
  position: relative;
  top: -32px;
  left: -25px;
}

.section__one {
  background-color: var(--clr--white-shade);
  padding: 2em 0;
}
.section__one h2 {
  text-transform: uppercase;
  font-size: 42px;
}

.iconSection {
  background-color: var(--clr--white-shade);
  padding: 2em 0;
}
.iconSection h3 {
  font-size: 32px;
  text-transform: uppercase;
}

.icon-before::before {
  font: var(--fa-font-solid);
  font-size: 0.75em;
  text-rendering: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  -webkit-font-smoothing: antialiased;
  background-color: #b9dde7;
  position: relative;
  margin-right: 0.5em;
}

.image-solid::before {
  content: "\f03e";
}

.user::before {
  content: "\f007";
}

.display::before {
  content: "\e163";
}

.phone-flip::before {
  content: "\f879";
}

.boxFlex {
  padding-top: 2em;
}

.box1__img {
  background-color: var(--clr-dusk-blue);
}

.box2 {
  padding: 1em 0;
}

.sectionFlex {
  padding-bottom: 2em;
}

.sectionFlex_text {
  padding-bottom: 1em;
}

.box2Flex h2,
.sectionFlex_text h2 {
  font-size: 32px;
  text-transform: uppercase;
}

.sectionFlexImg {
  background-color: var(--clr-light-blue);
}

.sectionFive {
  background-color: var(--clr--white-shade);
  padding: 3em 0;
}

.oneImgContainer img {
  margin: 0 auto;
}

.journeyTxtContainer {
  padding-top: 1em;
}
.journeyTxtContainer h2 {
  text-transform: uppercase;
}

.galleryContainer {
  padding: 2em 1em;
}

.gallery__item {
  margin-bottom: 1em;
}

footer {
  background-color: var(--clr-black);
}

footer p {
  margin: 0;
  padding: 1em 0;
  text-align: center;
  color: white;
}
