.aside__top__content,
.aside__content__primaryText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;

}

.aside__top__content {

    padding: 1em 1em;
    background-color: white;

    p {
        margin-bottom: 0;
        text-align: center;
    }

    margin-bottom: 1em;
}

.aside__heading {
    text-transform: uppercase;
    margin-top: 1em;
}

.aside__bottom__content {
    padding: 1em 1em;
    background-color: white;
    text-align: center;
    margin-bottom: 1em;
    // border: 2px solid tomato;
}
.aside__bottom__para {
    // border: 2px solid tomato;
    margin: 1em auto 0 auto;
    display: list-item;
    list-style: disc;
    list-style-position: inside;
}