.blog__primary{
    padding: 1em 1em;
    background-color: white;
    border-bottom: 4px solid var(--clr-dusk-blue);
    margin-bottom: 1em;
}

.blog__primary h3{
    text-transform: uppercase;
    background-color: white;
}
