.section__form{
    // border: 2px solid tomato;
    margin-top: 1em;
    margin-bottom: 2em;
}

.form__user__info input{
    text-align:center;
    width: 100%;
    margin-bottom:1em;    
    border: 2px solid white;
    padding: .65em 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);

    &::placeholder{
        color:black;
        opacity: 1;
    }
    &:focus{
        outline: 0;
    }
    
}

.form__comment textarea{ 
    text-align: center;
    width: 100%;
    border: none;
    padding: .65em 0 0 0;
    resize: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    margin-bottom: 1em;
    &::placeholder {
        color: black;
        opacity: 1;
    }
    &:focus{
        outline: 0;
    }

}
.form__button{
    .btn{
        width: 100%;
    }
}
.form__user__info.success input{
    border-color: #09c372;
}
.form__user__info.error input{
    border-color: #ff3860;
}
.form__user__info .error{
    margin-top: 5px;
    color: #ff3860;
    font-size: 20px;
    height: 22px;
}