.blog__header{
    min-height: 400px;
    background-image: url(../assets/blog-image-1.jpg);
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 2em 0;
    min-height: 16rem;
}

.blog__nav{
    background-color: transparent;
    padding-left: 1em;
}

.blog__heading--main{
    text-transform: uppercase;
    // border: 1px solid tomato;
}

.blog__main{
    background-color: var(--clr--white-shade);
    padding-top: 1em;
}


.aside__top__content,
.aside__content__primaryText{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    
}
.aside__top__content{ 
    padding: 1em 1em;
    background-color: white;
    p{
        margin-bottom: 0;
    } 
}

.aside__heading{
    text-transform: uppercase;
    margin-top: 1em;
}