.boxFlex{
    padding-top: 2em;
    // border: 1px solid tomato;
}
.box1__img{
    background-color: var(--clr-dusk-blue);
}
.box2{
    padding: 1em 0;
}

.sectionFlex{
    // border: 1px solid tomato;
    padding-bottom: 2em;
}
.sectionFlex_text{
    padding-bottom: 1em;
}

.box2Flex,
.sectionFlex_text{
    h2 {
            font-size: 32px;
            text-transform: uppercase;
    
        }
}

.sectionFlexImg{
    background-color:var(--clr-light-blue);
}