
.boxFlex{
    display: flex;
    margin: 5em 0 0 0;
    position: relative;
    background-color: white;
    // border: 2px solid black;

}
.box{
    width: 100%;
    position: relative;
    

}
.box1{
    // border: 1px solid tomato;
    display: flex;
    justify-content: end;
    background-color: skyblue;
    position: relative;
    bottom: 1em;
    img{
        // border: 2px solid black;
        max-width:calc(576px - 1em);
        position: relative;
        top: -1em;
        right: 1em;

    }
}
.box2{
    // border: 2px solid black;
    display: flex;
    align-items: flex-end;
    background-color: white;
    padding-bottom: 1em;
}
.box2Flex{
    // border: 1px solid tomato;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:flex-start;
    padding-left: 4em;
    max-width:calc(576px - 4em);
    h2{
        text-transform: uppercase;
        margin-bottom: 0;
    }

}
