.contact__main{
    padding: 4em 0;

    display: flex;
    gap: 1.3em;
}
.contact__form{
    width: 70%;
}
.contact__info{
    padding: 1.5em 1em;
    width: 30%;
    background-color: white;
    height: 100%;
}
.form__top{
    margin-top: 0;
}
.fa-brands{
    color:#227284;
     font-size: 1.3em;
}
.fa-brands+.fa-brands{
    margin-left: 1em;
    margin-bottom: 1em;
   
}

address{
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    line-height:1.5;
    .email__address{
        font-weight: bold;
        line-height: 3;
    }
}