:root{

    --clr-black:hsl(0, 0%, 9%);
    --clr-accent:hsl(0, 81%, 75%);
    --clr-greyblue:hsl(191, 42%, 58%);
    --clr-dusk-blue:hsl(191, 59%, 33%);
    --clr-light-blue:hsl(193, 49%, 82%);
    --clr--white-shade:hsl(0, 0%, 96%);

}