// @use 'customProperties' as *;

header{
    position: relative;
    background-color: var(--clr-light-blue);
}

.mainNav{
    background-color:var(--clr-light-blue);
    // border: 2px solid tomato;
    text-align:left;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    li{
        margin-bottom: 1em;
        margin-left: 1em;
    }
    a{
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        &:hover{
            color: white;
        }
    }
}
.navToggle:checked ~ nav>.mainNav {
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    transform: scale(1, 1);
    display: block;
    // transform: scale(1,1);
}
.navToggle{
    display: none;
}

.navToggle-label{
    // margin-left: 1em;
    // border: 1px solid red;
    height: 100%;
    display: flex;
    align-items: center;

}
.navToggle-label span,
.navToggle-label span::before,
.navToggle-label span::after{
    display: block;
    background:black;
    height: 4px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    top: 10px;
    margin-bottom: 3em;
}
.navToggle-label span::before,
.navToggle-label span::after{
    content: '';
    position: absolute;
}
.navToggle-label span::before{
    bottom: -15px;
}
.navToggle-label span::after {
    top: 20px;
}

.navToggle:checked~nav>.mainNav a{
    opacity: 1;
    // transition: opacity 250ms ease-in-out 250ms;
}

