
.section_img{
    margin: 0 auto;
}

.primary_content{
    // border: 2px solid red;
}

.primary_content_list{
    display: flex;
    flex-wrap: wrap;
    margin: 2.5em 0;
    li{
        // border: 2px solid black;
        width: 50%;
        h3{
            text-transform: uppercase;
            // border: 2px solid red;
            display: flex;
            justify-content:flex-start;
            align-items: center;
            position: relative;
            

        }
    }
    .primary_content_container{
        // border: 2px solid red;
        padding-left: 50px;
    }   

}

